<html>
	<head>
	    <!-- Meta -->
<meta charset="utf-8" />
<meta name="keywords" content="factoring, factorizar, liquidez, facturas, financiamiento, crédito, credito banco, factoring bancario, factoring serviu, bolsa de productos, fynpal, factura electrónica" />
<meta name="description" content="Factoriza facturas, cheques, letras" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="MMW.cl" />
<meta property="og:url" content="http://omegafactoring.cl" />
<meta property="og:type" content="website" />

<script>var ruta = '/';</script>
		
			<meta property="og:title" content="Nosotros - Precisión Financiera" />
			
			<meta property="og:image" content="http://www.omegafactoringcl.cl/img/bg2.png" />
			<title>Nosotros - Precisión Financiera</title>	</head>
	<body id="Nosotros">
	    <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5c3e4685ab5284048d0d1f6b/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
	    <style>
/* Loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/img/loader.gif) center no-repeat #fff;
}
/* Fin Loader */
</style>
	<div class="se-pre-con"></div>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-xs-4">
				<a href="/">
					<img src="/img/logoverde.png">
					<img src="/img/logo2.jpg" class="fijol">

				</a>
				<a href="mailto:contacto@omegafactoring.cl" class="resp" id="MailResp">
					<img src="/img/re_mail.png">
				</a>
			</div>
			<div class="col-md-4 col-xs-8">
				<nav>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

							<span class="sr-only">Toggle navigation</span>

							<span class="icon-bar"></span>

							<span class="icon-bar"></span>

							<span class="icon-bar"></span>

						</button>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<div class="resp">
								<a class="flecha" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><img src="/img/flecha.svg"></a>
								<img src="/img/logo502.png">
							</div>
							<ul class="nav navbar-nav">
								<li><a href="omegafactoring.html">Inicio</a></li>
								<li><a href="Nosotros.html">Nosotros</a></li>
								<li><a href="/blog">Ayuda / Blog</a></li>
								<div class="resp">
									<li><a href="http://omegafactoring.cl">Clientes</a></li>
									<li><a href="/#SeccionContacto">Contacto</a></li>
									<li><a href="/#SeccionContacto">Escríbenos</a></li>
								</div>
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-md-6 text_right">
				<div class="conversemos">
					<a href="+562 2306 1900"><img src="/img/tlfverde.png"> <span>Llamanos al +562 2306 1900</span></a>
				</div>
				<div class="botones">
					<a href="/#SeccionContacto"><button>Contacto</button></a><a href="http://omegafactoring.cl"><button>Clientes</button></a></a></a>
				</div>
			</div>

		</div>
	</div>
		
</header>	    <!-- Contenido -->

			<div class="Slider parallax" data-paroller-factor="0.3" style="background-image: url(/img/fondo1pro.jpg)">
				<div class="container">
					<h1> </h1>
					<h1>NUESTRA, HISTORIA</h1>
					<span class="subtitulo">Son dos los grandes motivos que hacen que se cree Omega Factoring S.A.:</span>
					<p>
						La vasta experiencia de sus ejecutivos, tanto a nivel nacional como internacional y el gran respaldo de sus socios, en términos de patrimonio y liquidez económica.
						Nuestro trabajo básicamente está orientado a financiar el capital de trabajo para pequeñas y medianas empresas, con el objetivo de transformarnos en socios financieros de nuestros clientes. Es por eso que operamos con un equipo de expertos ejecutivos, que cuentan con una gran experiencia en la industria del factoring doméstico, y que además, son pioneros en el desarrollo de este mercado en nuestro país.
						En Omega Factoring S.A contamos con un mix de productos financieros, completamente adaptables a las necesidades de cada cliente. Porque nuestra visión apunta a satisfacer las necesidades financieras de nuestros clientes, ofrecemos un servicio exclusivo y con soluciones innovadoras, con el fin de alcanzar el éxito en el financiamiento y desarrollo de cada empresa.
</p>				</div>
			</div>
			<div class="Proposito animado fadeUp">
				<h2>QUÉ HACEMOS</h2>
				<span class="frase">Entregamos Soluciones de Financiamiento
					para apoyar a nuestros Clientes</span>
			</div>
			<div class="Secc1">
				<div class="container">
					<div class="flex">
						<div class="animado fadeLeft">
							<img src="/img/MisiON1.png">
							<b>MISIÓN</b>
							<p class="fr-tag">Entregar el mejor servicio para atender  las necesidades de financiamiento de personas y empresas, entregando de manera  eficiente, confiable y oportuna  soluciones financieras integrales.</p>						</div>
						<div class="animado fadeUp">
							<img src="/img/VisiON1.png">
							<b>VISIÓN</b>
							<p class="fr-tag">Nos esforzamos todos los días en hacer más con lo mejor y sumar el máximo a nuestros clientes, a nuestro equipo de profesionales  y a nuestra empresa.</p>						</div>
						<div class="animado fadeRight">
							<img src="/img/VALORES2.png">
							<b>VALORES</b>
							<p>Siempre actuamos con transparencia y cultura abierta, somos muy responsable en cumplir los compromisos adquiridos, nos exigimos siempre al máximo para darle a nuestros clientes un servicio de excelencia.</p>						</div>
					</div>
				</div>
			</div>
			<div class="Filosofia">
				<div class="container">
					<div class="row">
						<div class="col-md-6 text_center animado fadeLeft">
							<img src="/img/factoring.png">
						</div>
						<div class="col-md-6 text_right animado fadeRight">
							<h2>Qué es el factoring</h2>
							<span class="subtitulo">Es la forma más simple y efectiva de obtener liquidez para su empresa</span>
							<p class="fr-tag">Factoring es la operación de descuento de documentos por cobrar a un determinado plazo. Por lo tanto usted tiene la posibilidad de liquidar anticipadamente sus cuentas por cobrar, expresadas en facturas, cheques, letras, pagarés y cualquier otro título mercantil.

								Omega Factoring S.A. atiende en forma ágil y oportuna todos sus requerimientos destinados a anticipar los flujos de sus cuentas por cobrar, otorgándole liquidez y ocupándose adicionalmente de la cobranza de sus facturas, letras y otros documentos representativos de crédito a su haber.
								
								La forma de operar es a través de una cesión del Cliente a Omega Factoring de documentos tales como: facturas, cheques, letras, etc., a quien se le anticipa un porcentaje del monto de los mismos documentos hasta la fecha de su vencimiento real, obteniendo de esta forma liquidez en el mismo día.</p>						</div>
					</div>
				</div>
			</div>
			<div class="Secc2">
				<div class="container">
					<h2>Asi Somos </h2>
					<span class="subtitulo">Creemos en los negocios realizados basados en:</span>
					<div class="flex">
						<div class="animado fadeUp">
							<img src="/img/ETICA.png">
							<p>Porque actuamos con educación y buena intención.</p>						</div>
						<div class="animado fadeUp">
							<img src="/img/CONTROL.png">
							<p>Respetando siempre la normativa vigente interna y externa. </p>						</div>
						<div class="animado fadeUp">
							<img src="/img/SINTONIA.png">
							<p>Una visión de negocios compartida con los clientes en donde TODOS entendamos lo mismo.</p>						</div>
						<div class="animado fadeUp">
							<img src="/img/COMPROMISO.png?">
							<p> porque nosotro hacemos nuestros tus desafíos comerciales.</p>						</div>
						<div class="animado fadeUp">
							<img src="/img/OPTIMISMO.png">
							<p>Porque creemos que se puede, tu negocio puede crecer y nosotros contigo.</p>						</div>
										</div>
					</div>
				</div>
			</div>
			<div class="Equipo">
				<div class="Titulo animado fadeUp">
					<h2>NOSOTROS</h2>
					<span class="subtitulo"></span>
				</div>
				<div class="personas">
					<div class="container">
						<div class="flex">
							<div class="animado fadeDown">
								<img src="/img/jcms.jpg">
								<h4>JUAN CARLOS MORENO SULLIVAN  </h4>
								<span>Gerente General </span>
								<span><a href="mailto:jcmoreno@omegafactoring.cl">jcmoreno@omegafactoringcl</a></span>
								<div class="esp"></div>
								<p class="fr-tag"><strong>Titulo</strong><br>poner curriculum nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn</p>							</div>
							<div class="animado fadeDown">
								<img src="/img/jrr.jpg">
								<h4>JORGE RADRIGAN REJES</h4>
								<span>Gerente Comercial</span>
								<span><a href="mailto:JRADRIGAN@OMEGAFACTORING.cl">jradrigan@omegafactoring.cl</a></span>
								<div class="esp"></div>
								<p class="fr-tag"><strong>titulo y profecion</strong><br>poner curriculum nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn.</p>							</div>
							<div class="animado fadeDown">
								<img src="/img/fsb.jpg">
								<h4>FREDDY SURA BRITO</h4>
								<span>Gerente de Crédito y Cobranza</span>
								<span><a href="mailto:fsura@omegafactoring.cl">fsura@omegafactoring.cl</a></span>
								<div class="esp"></div>
								<p><strong>titulo y profecion</strong><br>poner curriculum nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn.
</p>							</div>
							<div class="animado fadeDown">
								<img src="/img/IM1.jpg">
								<h4>INGRID MORALES CELIS</h4>
								<span>Gerente de Operaciones</span>
								<span><a href="mailto:imorales@omegafactoring.cl">mailto:imorales@omegafactoring.cl</a></span>
								<div class="esp"></div>
								<p class="fr-tag"><strong>titulo y profecion</strong><br>poner curriculum nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn.</p>							</div>
						</div>
					</div>
				</div>
			</div>
	    <!-- ./ Contenido -->
	    <footer class="animado fadeUp" style="background-image: url(/img/main_empresa.jpg">
	<div class="container">
		<div class="logo">
			<img src="/img/logotrasparente2.png">
		</div>
		<div class="row">
			<div class="col-md-4">
				<span class="titulo">CONTÁCTANOS</span>
				<p>Felix de Amesti 124 · Piso 2<br>Las Condes · Santiago</p>
				<div class="rrss">
					<a href="https://www.facebook.com">
						<img src="/img/fb2.png">
					</a>
					<a href="https://www.linkedin.com">
						<img src="/img/in2.png">
					</a>
				</div>
				<a href="#"><img src="/img/legal.png"></a>
			</div>
			<div class="col-md-6 right">
				<ul>
					<li><a href="index1.html">INICIO</a></li>
					<li><a href="/nosotros.html">NOSOTROS</a></li>
					<li><a href="/#SeccionContacto">CONTACTO</a></li>
					<li><a href="/blog">AYUDA/BLOG</a></li>
					<li><a href="#">ACCESO CLIENTES</a></li>
				</ul>
			</div>
		</div>
		<span class="Rights">
			&#169; Todos los derechos reservados. Arrayan Financiero S.A.

		</span>
	</div>
</footer>	
<body id="Nosotros">
	<!-- Ficheros externos -->
	<!-- Estilos -->
<link async href="/css/reset.css" rel="stylesheet" type="text/css">
<link async href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link async href="/css/estilo1.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="/css/t-scroll.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">

<!-- Scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script async type="text/javascript" src="/js/funciones.js"></script>
<script async type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/parallax.min.js"></script>
<script type="text/javascript" src="/js/t-scroll.min.js"></script>
<script>
Tu.tScroll({
	      't-element': '.animado',
	      't-duration': 1
	    });
	    $('.parallax').paroller({
                            factor: 0.3,            // multiplier for scrolling speed and offset
                            type: 'background',     // background, foreground
                            direction: 'vertical' // vertical, horizontal, TODO: diagonal
                        });
/* Loader */
		
				// Animate loader off screen
				$(".se-pre-con").fadeOut("slow");;
	
		/* Fin Loader*/
	
		$(function(){
    //detectar scroll hacia abajo
    var obj = $(document);          //objeto sobre el que quiero detectar scroll
    var obj_top = obj.scrollTop()   //scroll vertical inicial del objeto
    obj.scroll(function(){
        var obj_act_top = $(this).scrollTop();  //obtener scroll top instantaneo
        if(obj_act_top > obj_top){
            //scroll hacia abajo
            $("header:not(.blog)").css("top","-80");
           // $("header").removeClass("fijo");
           $('.collapse').collapse('hide');
            
        }else{
            //scroll hacia arriba
            $("header:not(.blog)").addClass("fijo");
            $("header:not(.blog)").css("top","0");
            
        }
        obj_top = obj_act_top;                  //almacenar scroll top anterior
    });
});
		</script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120796924-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120796924-1');
</script>	<script>
	var form=$("#contacto");
		$("<div id='cargador_php_formc'></div>" ).insertBefore( "form#contacto" );
	$('form#contacto').submit(function(){
		if($("form#contacto")[0].checkValidity()) 
		{ //Validacion HTML5
			$.ajax({
	            type:"POST",
	            url:'/panelAdmin/inc/modulos/js/loads/FormularioContacto/enviar.php',
	            data:form.serialize(),//only input
	            success: function(response){
	                document.getElementById('cargador_php_formc').innerHTML = response;  
	            }
	        });
			return false;
		}
	});
</script>
</html>